<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Personal website.</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>

    <body>
        <form action="/calculator" method="POST">
            <input type="text" name="FirstDigit"> <br>
            <input type="text" name="SecondDigit"> <br>
            <button type="submit" name="submit">Calculate</button>
        </form>
    </body>

</html>